import setuptools

def read(fname):
	with open(fname, "r") as fh:
		return fh.read()

setuptools.setup(
        name="libopenstorage-openstorage",
        version="%%APIVER%%",
        author="Portworx",
        author_email="lpabon@purestorage.com",
        description="OpenStorage SDK Python gRPC Client Library",
        long_description=read("README.md"),
        long_description_content_type="text/markdown",
        url="https://github.com/libopenstorage/openstorage-sdk-clients",
        packages=setuptools.find_packages(),
        install_requires=['grpcio', 'grpcio-tools', 'kubernetes'],
        classifiers=[
            "Programming Language :: Python :: 3",
            "License :: OSI Approved :: Apache Software License",
            "Operating System :: OS Independent",
        ],
        python_requires='>=3.5',
)

